/* IMPORT
----------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* VARIABLES
----------------------------------------------------------------
*/
:root {
  /* Colors: Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* Color: Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-graysh-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* UNIVERSAL
----------------------------------------------------------------
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: var(--dark-graysh-blue);
  font-size: 1.5rem;
  overflow-x: hidden;
  position: relative;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--off-white);
}

.btn {
  text-decoration: none;
}

/* CONTENT
----------------------------------------------------------------
*/

.container {
  width: 110rem;
  margin: 0 6.4rem;
}

/* NAVIGATION
----------------------------------------------------------------
*/

.nav-section {
  margin: 8rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--soft-red);
  cursor: pointer;
}

/* SECTION: NEWS
----------------------------------------------------------------
*/

.section-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
}

/* SECTION: NEWS MAIN
----------------------------------------------------------------
*/

.news-main {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.news-main img {
  grid-column: 1 / -1;
  width: 100%;
}

.news-main-heading {
  grid-row: 2/ -1;
  font-size: 5.6rem;
  line-height: 1;
  align-self: center;
  color: var(--very-dark-blue);
  font-weight: 800;
}

.btn-read-more {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--off-white);
  background: var(--soft-red);
  width: 50%;
  transition: all 0.3s;
}

.btn-read-more:hover {
  background-color: var(--very-dark-blue);
}

/* SECTION: NEWS NEW
----------------------------------------------------------------
*/

.section-news-new {
  background: var(--very-dark-blue);
  padding: 3.2rem 2.4rem;
}

.news-new-article {
  border-bottom: 1px solid var(--dark-graysh-blue);
  padding: 3.2rem 0;
}

.news-new-article:last-child {
  border: none;
  padding: 3.2rem 0 0 0;
}

.news-new-heading {
  font-size: 3.2rem;
  color: var(--soft-orange);
}

.news-new-article-heading {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.news-new-article-link:link,
.news-new-article-link:visited {
  transition: all 0.3s;
}

.news-new-article-link:hover,
.news-new-article-link:active {
  color: var(--soft-orange);
}

/* SECTION: NEWS TOP
----------------------------------------------------------------
*/

.section-news-top {
  margin-top: 6.4rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
}

.news-top-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 2.4rem;
}

.news-top-article-img {
  grid-column: 1;
  grid-row: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.news-top-article-img img {
  width: 100%;
}

.news-top-article-num {
  grid-column: 2 / -1;
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--grayish-blue);
}

.news-top-article-heading {
  grid-column: 2 / -1;
}

.news-top-article-link:link,
.news-top-article-link:visited {
  color: var(--very-dark-blue);
  font-weight: 800;
  transition: all 0.3s;
}

.news-top-article-link:hover,
.news-top-article-link:active {
  color: var(--soft-red);
}

.news-top-article-description {
  grid-column: 2 / -1;
}

/* MOBILE NAVIGATION
----------------------------------------------------------------
*/

.hamburger-icon {
  width: 4.4rem;
  height: 0.4rem;
  background: var(--very-dark-blue);
  position: relative;
  display: none;
  z-index: 100;
  transition: all 0.3s;
}

.hamburger-icon::after,
.hamburger-icon::before {
  content: "";
  width: 4.4rem;
  height: 0.4rem;
  background: var(--very-dark-blue);
  position: absolute;
  z-index: 100;
  transition: all 0.3s;
}

.hamburger-icon.close {
  background: transparent !important;
}

.hamburger-icon::after {
  top: -0.8rem;
}

.hamburger-icon::before {
  top: 0.8rem;
}

.hamburger-icon.close::after {
  transform: rotate(-45deg);
  transform-origin: right;
  top: -1.6rem;
}

.hamburger-icon.close::before {
  transform: rotate(45deg);
  transform-origin: right;
  top: 1.6rem;
}

.nav-list-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100vh;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 0 3.2rem;
  padding-top: 12.8rem;
  row-gap: 2.4rem;
  font-size: 1.8rem;
  transform: translateX(100%);
  transition: all 0.3s;
  pointer-events: none;
}

.nav-list-mobile.close {
  transform: translateX(0);
  pointer-events: all;
}

.nav-list-mobile .nav-item {
}

.nav-list-mobile::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: all 0.3s;
}

.nav-list-mobile.close::after {
  opacity: 1;
}

/* MEDIA QUERIES
----------------------------------------------------------------
*/

@media screen and (max-width: 1180px) {
  .news-main {
    grid-column: 1 / -1;
    margin-bottom: 6.4rem;
  }

  .section-news-new {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    padding: 1.6rem 0 3.2rem 0;
    row-gap: 3.2rem;
    column-gap: 2.4rem;
  }

  .news-new-heading {
    grid-column: 1 / -1;
    padding-left: 3.2rem;
  }

  .news-new-article {
    border-bottom: none;
    padding: 0;
  }

  .news-new-article:first-of-type {
    padding-left: 3.2rem;
  }

  .news-new-article:last-of-type {
    padding: 0 3.2rem 0 0;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0 3.2rem;
  }

  .section-news {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-news-new {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
    padding: 3.2rem 2.4rem;
    row-gap: 3.2rem;
    column-gap: 2.4rem;
  }

  .news-new-article:first-of-type {
    padding-left: 0;
  }

  .news-new-article {
    border-bottom: 1px solid var(--dark-graysh-blue);
    padding: 3.2rem 0;
  }

  .news-new-article:last-child {
    border: none;
    padding: 3.2rem 0 0 0;
  }

  .section-news-top {
    margin-top: 6.4rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
  }

  .section-news-top {
    margin-top: 0;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2.4rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-section {
    margin: 4rem 0 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-news-new {
    grid-column: 1/-1;
  }

  .section-news-top {
    margin-top: 3.2rem;
    grid-column: 1 / -1;
    row-gap: 1.6rem;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .hamburger-icon {
    display: block;
  }

  .container {
    width: 110rem;
    margin: 0 1.6rem;
  }
}

@media screen and (max-width: 675px) {
  .news-main-heading {
    font-size: 4rem;
  }

  .news-main {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
  }
}
